.jfx-button{
    -fx-background-color: #263238;
    -fx-border-width: 1.5;
    -fx-border-radius: 15;
    -fx-background-radius: 15;
    -fx-border-color: #FFFF00;
}

.jfx-button:hover{
    -fx-background-color: #F4511E;
}